<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


<app-header></app-header>
<div class="container2">   
      <div class="form-wrapper"form-responsive>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd9pZEOwb2hyPXl5TQZRsgMuKzoSpRSJpdWpFXSyP9y5-qvZg/viewform?embedded=true" width="100" height="100" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
      </div>
    
    <div class="info">
      <h2 class="roboto-1"> ¿Te interesa mi perfil?</h2>
      <div>
        <h4 class="roboto-2"> Contactame:</h4>
        <ul class="roboto-2" style="list-style: none;">
          <li> Telefono: 311 2063517</li>
          <li> Correo:catarodriguez2802@gmail.com </li>
          <li> Instagram: _Catarodriguezr_ </li>
      </ul>
    </div>

  </div>
</div>

  <app-footer></app-footer>