<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

<app-header></app-header>
  <h1 class="About roboto-1" >Catalina Rodriguez</h1>

  <div class="container rubik-1">
    <div class="info">
        <div class="Title montserrat-1"> Acerca de mi </div>
          <div class="text roboto-2">
              ESTATURA 1,70
              TALLAS Camisa S - M
              Zapatos 38
          </div>
            <div class="Title montserrat-1"> Habilidades e idioma  </div>
          <div class="text roboto-2">
            Piano - Canto - Español - Ingles 
          </div>
        </div>
      <div id="carouselExampleIndicators" class="carousel slide flex-grow-1">
          
            <div class="allimg">
              <img src="../../assets/ingles2.jpeg" class="img" alt="...">
            </div>
          
      </div>
  </div>


  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#B6C8A9" fill-opacity="1" d="M0,64L48,80C96,96,192,128,288,160C384,192,480,224,576,208C672,192,768,128,864,117.3C960,107,1056,149,1152,165.3C1248,181,1344,171,1392,165.3L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#B6C8A9" fill-opacity="1" d="M0,64L48,80C96,96,192,128,288,160C384,192,480,224,576,208C672,192,768,128,864,117.3C960,107,1056,149,1152,165.3C1248,181,1344,171,1392,165.3L1440,160L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>


  <div class="container2">
    <div id="carouselExampleIndicators" class="carousel slide flex-grow-1">
          
      <div class="allimg">
        <img src="../../assets/Cata1.jpeg" class="img2" alt="...">
      </div>
    
    </div>
    
    <div class="info">
      <p class="Title montserrat-1"> Estudios</p>
      <div>
        <ul class="roboto-2" style="list-style: none;">
            <li> <b>2022</b> - Taller Suzuki y viewpoints - Ernesto Martínez</li>
            <li> <b>2022</b> - La acción dramática Caracol tv- Pawel Nowicki </li>
            <li> <b>2022</b> - Lenguaje actoral Caracol tv - Annia Nowicka </li>
            <li> <b>2022</b> - Trabajo para y detrás de cámaras Caracol tv- Germán Giraldo  </li>
            <li> <b>2022</b> - Actuación para televisión Caracol tv - Saín Castro  </li>
            <li> <b>2022</b> - Combate escénico Caracol tv - Eduard Salas  </li>
            <li> <b>2022</b> - Producción Caracol tv - Silvia Naranjo  </li>
            <li> <b>2022</b> - Lenguaje Audiovisual Caracol tv - Carlos Ortiz</li>
            <li> <b>2023</b> - Taller Laban teatro la maldita vanidad - Tina Mitchell </li>
            <li> <b>2024</b> - Taller/ laboratorio entrenamiento actoral - David Moncada - <br> Felipe Ortiz</li>
        </ul>
    </div>
    <p class="Title montserrat-1"> Experiencia laboral</p>
    <div>
      <ul class="roboto-2" style="list-style: none;">
          <li> <b>2022</b> - DISTORSIONN - Cortometraje  </li>
          <li> <b>2022</b> - Lo que está quieto se deja quieto - Cortometraje </li>
          <li> <b>2022</b> - Herencia - Cortometraje  </li>
          <li> <b>2022</b> - Un Bonito detalle -Cortometraje  </li>
          <li> <b>2022</b> - Un sueño maravilloso - Cortometraje  </li>
          <li> <b>2023</b> - Actores y demonios - Serie Web  </li>
          <li> <b>2023</b> - El club de los que no pueden dormir - Cortometraje  </li>
          <li> <b>2023</b> - Contra el espejo - Cortometraje  </li>
          <li> <b>2023</b> - Teaser cuatro años de soledad RTVC  </li>
          <li> <b>2024</b> - Hasta que la noche termine - Cortometraje  </li>
          <li> <b>2024</b> - El que tenga tik tok toma dos - Cortometraje  </li>
          <li> <b>2024</b> - Rojo Carmesí RCN </li>
      </ul>
  </div>
  </div>
</div>
  <app-footer></app-footer>
