<app-header></app-header>


<div class="container">
    <!-- Imagen principal (visible en escritorio) -->
    <div class="main-image">
      <img src="../../assets/BYN.jpeg" alt="Catalina en blanco y negro" />
    </div>
  
    <!-- Galería vertical (2 y 3 + copia de 1 visible solo en móviles) -->
    <div class="gallery">

        <!-- Imagen 1 duplicada, solo visible en móvil -->
      <img src="../../assets/BYN.jpeg" alt="Catalina móvil" class="solo-movil" />

      <img src="../../assets/Verde.jpeg" alt="Catalina 1" />
      <img src="../../assets/BYN2.jpeg" alt="Catalina 2" />
      
      
    </div>
  
    <!-- Galería extra -->
    <div class="extra-gallery">
      <img src="../../assets/cata2.jpeg" alt="Extra 1" />
      <img src="../../assets/BYN3.jpeg" alt="Extra 2" />
      <img src="../../assets/Cata1.jpeg" alt="Extra 3" />
      <img src="../../assets/cata3.jpeg" alt="Extra 4" />
    </div>
</div>

<app-footer></app-footer>