<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


<section class="cards roboto-1">
    <div class="div_grande">
        <button type="button" class="boxall" routerLink="/about">
            <h3 class="tarjetas_titulo"></h3>
            <img src="../../assets/actriz2.jpeg" class="img2">
            <div class="texto-encima roboto-1"> About </div>
        </button>

        <button class="boxall" routerLink="/book"> 
            <h3 class="tarjetas_titulo"></h3>
            <img src="../../assets/cantante.jpeg" class="img2">
            <div class="texto-encima roboto-1"> Book </div>
        </button>

        <button class="boxall" routerLink="/contacto"> 
            <h3 class="tarjetas_titulo"></h3>
            <img src="../../assets/pianista.jpeg" class="img2">
            <div class="texto-encima roboto-1"> Contacto </div>
        </button>



    </div>
    
</section>
