<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Kalnia+Glaze:wght@100..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


<section>
    <app-header></app-header>
    <div class="image-container">
      <img src="../../assets/home.jpeg" alt="Catalina Rodriguez" class="img" />
      <div class="text-overlay">
        <div class="text1">Catalina</div>
        <div class="text2">Rodriguez</div>
      </div>

      <div class="poema">
        “Lograr, perder, soñar, <br> renunciAr, aVanzar, retroceder, <br> dudar, Intentar, Descubrir, <br> perdonar, amar, llorAr y luego <br> reir. Reir mucho” - Catalina <br> Rodriguez
      </div>
    </div>
    <app-habilidades></app-habilidades>
    <app-footer></app-footer>
  </section>
  